*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-size: 14px;
}
.navbar{
    padding: 10px 20px 10px 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid ghostwhite;
    box-shadow: 0 2px 4px rgba(181, 185, 189, 0.6);
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 10px;
}
.navbar__s1{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s1 span{
    font-size: 14px;
    color: black;
}
.navbar__s1 img{
    width: 90px;
}
.navbar__s2{
    display: flex;
    border: 1px solid gray;
    border-radius: 30px;
    width:650px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

}
.navbar__s2 input{
    font-size: 16px;
    border: none;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 15px;
    color: gray;
    align-items: center;
    justify-content: space-between;

}
.navbar__s3 p{
    padding: 10px;
    border-radius: 3px;
}
.login{
    padding: 10px;
    background-color: white;
    border: none;
    border: 1px solid #6D28D2;
    border-radius: 3px;
    color: #6D28D2;

}
.signup{
    background-color: #6D28D2;
    border: none;
    border: 1px solid #6D28D2;
    border-radius: 3px;
    color: white;
    padding: 10px;

}
.globe{
    padding: 10px;
    border: 1px solid #6D28D2;
}
.login:hover{
background-color: #EDE5F9;
cursor: pointer;
}
.signup:hover{
background-color: #892DE1;
cursor: pointer;
}
.navbar__s1__explore{
    padding: 10px;
    border-radius: 3px;
}
.navbar__s1__explore:hover{
background-color: #EDE5F9;
cursor: pointer;
}
.navbar__s3 p:hover{
    background-color: #EDE5F9;
cursor: pointer;
}
#cart-logo{
 padding: 10px;
    border-radius: 3px;
}
#cart-logo:hover{
    background-color: #EDE5F9;
cursor: pointer;
}
.globe:hover{
    background-color: #EDE5F9;
cursor: pointer;
}
.advert{
 padding-left: 90px;
    padding-right: 90px;
    padding-top: 3px;

    
}

.advert__sale-image img{
    width: 100%;
}
.advert__recommended{
    padding-left: 30px;
}
.advert__recommended h1{
    font-size: 30px;
    margin-bottom: 1px;
    margin-top: 40px;
}
.advert__recommended p{
    font-size: 18px;
    color: rgb(102, 100, 100);
}

.course-card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

.course-card__1{
    width: 380px;
    padding: 15px;
    border: none;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0 0px 4px rgba(121, 120, 120, 0.5);
    margin-top: 30px;
    height: 300px;

}
.course-card__1 img{
    width: 100%;
    margin-bottom: 10px;
    height: 225px;
    border-radius: 10px;
}
.course-card__1 h3{
margin-bottom: 10px;
font-size: 18px;
color: rgb(78, 74, 74);
font-weight: 300;
}
.course-card__1__box{
    display: flex;
    gap: 10px;
}
.course-card__1__box p{
border: 0px solid white;
    box-shadow: 0 0px 4px rgba(150, 148, 148, 0.5);
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;

}

.accelerators{
    padding: 10px;
    background-color: white;
    border: none;
    border: 1px solid #6D28D2;
    border-radius: 3px;
    color: #6D28D2;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 50px;
}
.accelerators:hover{
    cursor: pointer;
    background-color: #EDE5F9;
}
.title{
    margin-bottom: 10px;
}
.desc{
    margin-top: 10px ;
    margin-bottom: 40px;

}

.course-names{
    display: flex;
    gap: 50px;
    font-size: 20px;
    color: gray;
    font-weight: 500;
}
#dark-name{
    color: #2A2B3F;
    border-bottom: 2px solid #2A2B3F;
}
.course-names p{
    margin: 0;
    padding-bottom: 10px;
}

.pricing-cards{
    background-color: #F6F7F9;
    padding: 40px 100px 5px 100px;
    margin-left: 10px;
}
.course-learners{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    
}
.course-learners h1{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 3px;
    
} 
.course-learners p{
    font-size: 12px;
    
} 
.learener{
background-color: #dbdce3;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.learener-dark{
background-color: #2A2B3F;
    border-radius: 40px;
    padding: 20px;
    color: white;
}
.learener-end{
    background-color: #dbdce3;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

  

.course-price-detail{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}
.course-price-detail__1{
    border: 1px solid white;
        box-shadow: 0 1px 4px rgba(150, 148, 148, 0.5);
        width: 312px;
        border-radius: 10px;

}
.course-price-detail__1 img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;

}
.cdesc{
    padding-left: 20px;
    padding-top: 10px;
}
.cdesc h3{
    padding-bottom: 10px;
}
.cdesc p{
    padding-bottom: 10px;
}
.bestseller{
    background-color: #C2E9EB;
    border: none;
    padding: 5px;
    border-radius: 3px;
    color: #0D5261;
    font-weight: 700;
    margin-bottom: 10px;
}

.premium{
    background-color: #5022C3;
    border: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}

.skill-trend{
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-left: 100px;
    flex-wrap: wrap;
}
.skill-trend__left{
    width: 270px;
}
.skill-trend__left h1{
    padding-bottom: 20px;
    font-size: 35px;
}
.skill-trend__left p{
    font-size: 16px;
    line-height: 25px;
}
.skill-trend__right img{
height: 600px;
}


.footer{
    background-color: #2A2B3F;
    color: white;
}

.footer__one{
    display: flex;
    padding:20px 50px 20px 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    flex-wrap: wrap;

}
.footer__one__1 p{
    font-size: 20px;

}
.footer__one__1 p span{
    color: #C0C4F0;
}
.footer__one__2{
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}
.footer__two{
    display: flex;
    flex-direction: column;
    padding: 50px;

}
.footer__two__title{
padding-bottom: 30px;
font-size: 20px;
}
.footer__two a{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}
.footer__two a:hover{
    text-decoration: underline;
}
.footer__two__1{
    display: flex;
    flex-grow: 1;
    margin-bottom: 50px;
    flex-wrap: wrap;

}
.footer__two__1 h1{
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 500;

}
.footer__two div{
    flex-basis: 25%;
}
.footer__two__2 h1{
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
}
.footer__two__2{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;

}

.footer__three, .footer__four{
    background-color: #202230;
}
.footer__three{
    padding: 50px;
    border-bottom: 1px solid;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    

}
.footer__three a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}
.footer__three a:hover{
    text-decoration: underline;
}
.footer__three div{
        flex-basis: 25%;

}
.footer__three h1{
    font-size: 20px;
    padding-bottom: 20px;
        font-weight: 500;

}


.footer__three__1{
    display: flex;
    flex-direction: column;
}
.footer__four{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.footer__four__1{
    display: flex;
    gap: 20px;
    align-items: center;
    white-space: nowrap;

}

.footer__four__2 a{
    text-decoration: none;
    color: white;
}
.footer__four__2 a:hover{
    text-decoration: underline;
}


.footer__four__3{
    display: flex;
    gap: 5px;
    align-items: center;
}